@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html,
body,
#root {
  min-height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .contend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  margin-top: 100px;
  border: solid black 2px;
}
